
.description-text {
    font-size: 15px;
    line-height: 180%;
}

.carousel-indicators li {
    filter: invert(100%);
}

.carousel-caption {
    position: relative;
    left: 0;
    top: -10;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.table-header {
    background-color:rgba(0, 128, 0, 0.205);
}

.white-space-pre-wrap {
    white-space: pre-wrap;
}