# create an .env.local file in this directory and fill in the values below.
# This file will contain secrets and should not be checked in to the repo. 
# .gitignore ignores this file.
# Once populated you can use it to run the app locally.
# This is also necessary to update and deploy to production and stage.
# The secrets are put into fly.io via the scripts in the scripts directory.

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
AWS_REGION=
S3_BACKUP_PATH=

# credentials for generating presigned upload URLs for the browser - that is all that this user can do
S3_PUT_AWS_ACCESS_KEY_ID=
S3_PUT_AWS_SECRET_ACCESS_KEY=

# Email Configuration
EMAIL_TO=

# Auth0 Configuration
AUTH0_CLIENT_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=
NEXTAUTH_SECRET=
# old stuff....
SECRET=
