## This is what your .env.local file should like. You can simply copy this one to the name '.env.local'.

### You must provide these for Auth to work locally. Copy this file and rename it to .env.local
# AWS Configuration

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
S3_BUCKET=YOUR_S3_BUCKET
AWS_REGION=YOUR_AWS_REGION
S3_BACKUP_PATH=YOUR_S3_BACKUP_PATH

# credentials for generating presigned upload URLs for the browser - that is all that this user can do
S3_PUT_AWS_ACCESS_KEY_ID=YOUR_S3_PUT_AWS_ACCESS_KEY_ID
S3_PUT_AWS_SECRET_ACCESS_KEY=YOUR_S3_PUT_AWS_SECRET_ACCESS_KEY

# Email Configuration
EMAIL_TO=YOUR_EMAIL_TO

# Auth0 Configuration
AUTH0_CLIENT_ID=YOUR_AUTH0_CLIENT_ID
AUTH0_SECRET=YOUR_AUTH0_SECRET
AUTH0_DOMAIN=YOUR_AUTH0_DOMAIN
NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

SECRET=YOUR_SECRET

# Monitoring Configuration
MONITOR_EMAIL=YOUR_MONITOR_EMAIL

# Application paths
APP_PATH=YOUR_APP_PATH
BACKUP_PATH=$APP_PATH/backups
LOG_PATH=$APP_PATH/logs
DB_PATH=$APP_PATH/gallformers.sqlite

# Backup Configuration
BACKUP_RETENTION_DAYS=7

# PM2 Configuration
PM2_MAX_MEMORY=1G
PM2_RESTART_DELAY=2000
PM2_MAX_RESTARTS=20

# Node.js Configuration
NODE_ENV=development

# Database Configuration
DATABASE_URL=file:$DB_PATH 

# Also check the .env.development, .env.production, and .env.local-docker files for other variables.
# Generally you will not need to change anything in these files, but if you want to it is best
# to add them as overrides to the .env.local file rather than changing the core .env files.
